<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" name="banco" connectionString="Data Source=DESKTOP-HEJ5712;Initial Catalog=Entity;Connection Timeout=180;Persist Security Info=True;User ID=sa;Password=123456" />
  </connectionStrings>
</configuration>